<ul>
    <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="dropdown">
        <a href="#" ariaCurrentWhenActive="page">Jeux</a>
        <ul class="dropdown-content">
            <li><a routerLink="/sudoku" ariaCurrentWhenActive="page">Sudoku</a></li>
            <li><a routerLink="/mots-croises" ariaCurrentWhenActive="page">Mots croisés</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="/rangs" ariaCurrentWhenActive="page">Rangs</a>
    </li>
</ul>
