ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

li {
  flex: 1;
  text-align: center;
  position: relative;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a[disabled] {
  pointer-events: none;
}

a:hover {
  color: rgb(157, 157, 255); 
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.dropdown-content li {
  text-align: left;
}

.dropdown-content a {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: rgb(157, 157, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
  height: auto;
}

.dropdown-arrow::after {
  content: '\25BC'; /* Unicode pour la flèche vers le bas */
  margin-left: 0.5vw;
  font-size: 0.8em;
  color: white; /* Couleur de la flèche */
}
