<div class="contenu">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="champ">
      <label for="login">Nom d'utilisateur : </label>
      <input id="login" formControlName="login" />
    </div>
  
    <div class="champ">
      <label for="password">Mot de passe : </label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div *ngIf="submitError">
      <p style="color: red;">Informations invalides !</p>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
</form>
</div>