.sudoku-grid { 
    display: flex;
    justify-content: center;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black; 

/* Bordures épaisses aux colonnes 3, 6, 9 */
td:nth-child(3), td:nth-child(6), td:nth-child(9) {
    border-right: 3px solid black;
}

/* Bordures épaisses pour les lignes 3, 6 */
tr:nth-child(3) td, tr:nth-child(6) td {
    border-bottom: 3px solid black;
}

/* Bordures épaisses sur le côté gauche */
td:nth-child(1), td:nth-child(4), td:nth-child(7) {
    border-left: 3px solid black;
}

/* Bordures épaisses en haut */
tr:nth-child(1) td {
    border-top: 3px solid black;
}

/* Bordure épaisse en bas */
tr:last-child td {
    border-bottom: 3px solid black;
}

input {
    width: 85%;
    height: 85%;
    border:none;
    text-align: center;
    font-size: 1.5em;
    outline: none;
}

input:disabled {
    background-color: #f0f0f0;
}

.sudoku-button{
    background-color: beiges;
}}

.sudoku-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: auto;
}

.sudoku-buttons-centered {
    display: flex;
    align-items: center; 
}

.sudoku-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sudoku-buttons + p {
    margin-left: 20px;
}

.gap{
    margin: 30px !important;
}
