.tableaux {

    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content:  space-around;
    margin-top: 3vw;

}

.classement {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start
}

.page {
    margin:  3vw;
}

h2 {
    color : black;
    font-weight: 600;
}

h3 {
    color: black;
    font-weight: 300;
}